
h1 {
	text-align: center;
}

form {
	margin-top: 50px;
}

form button {
	width: 70%;
	}

.message{
    border-bottom: 1px solid;
	width: 100%;
	margin-top:20px;
}

#but{
	text-align:center;
margin:auto;
}